%h2 Estado de cuenta

%hr/

%table.table
  %thead
    %tr
      %th Fecha
      %th Tipo
      %th Monto

  %tbody
    - @movimientos.each do |movimiento|
      %tr
        %td= movimiento.fecha
        %td= movimiento.model_name.human
        %td= number_to_currency movimiento.monto
