#home
  .no-data
    %h1.text-center.text-error Aún no has ingresado un socio al sistema.

    .text-center
      .control-group
        = link_to new_socio_path, class: 'btn btn-lg btn-primary' do
          %i.fa.fa-plus
          Nuevo Socio
