// Place all the styles related to the rubros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea#rubro_descripcion {
  resize: none;
  overflow-y: scroll;
}

div#descripcion-html {
  max-height: 315px;
  overflow-y: scroll;
}
